<launch>
  <arg name="is_pr2" />
  <arg name="output" default="$(env HOME)/demonstration" />
  <node if="$(arg is_pr2)" pkg="rosbag" type="record" name="record_data_rosbag" args="/head_mount_kinect/depth_registered/camera_info /head_mount_kinect/rgb/image_rect_color /head_mount_kinect/depth_registered/image -o $(arg output) --lz4" />
  <node unless="$(arg is_pr2)" pkg="rosbag" type="record" name="record_data_rosbag" args="/camera/depth_registered/camera_info /camera/rgb/image_rect_color /camera/depth_registered/image -o $(arg output) --lz4" />
</launch>
