<launch>
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="depth_registration" value="true" />
    <arg name="color_depth_synchronization" value="true" />
    <arg name="publish_tf" value="false" />
  </include>
  <include file="$(find rgbd_launch)/launch/kinect_frames.launch" />
  <node pkg="tf" type="static_transform_publisher" name="world_to_camera" args="0 0 1.33 0 0.33 0 base_link camera_link 100" />
	<node pkg="nodelet" type="nodelet" name="convert_metric" args="standalone depth_image_proc/convert_metric">
    <remap from="image_raw" to="/camera/depth_registered/image" />
    <remap from="image" to="/camera/depth_registered/image_metric" />
  </node>
</launch>
