<launch>
  <arg name="debug" default="false" />

  <param name="mongodb_use_daemon" value="true" />
  <param name="mongodb_host" value="localhost" />
  <param name="mongodb_port" value="27017" />
  <node name="$(anon message_store)" pkg="mongodb_store" type="message_store_node.py" output="screen" required="true" /> 

  <node pkg="dbot_ros" type="initialize_object_action_node" name="initialize_object_action_server" required="true" />
  <node pkg="task_db" type="demo_states_db" name="demo_states_db" required="true" output="screen" />

  <rosparam command="load" file="$(find task_imitation)/config/grasp_planner.yaml" />

  <node if="$(arg debug)" pkg="task_imitation" type="program_server" name="program_server" launch-prefix="xterm -e gdb --args" required="true" output="screen" />
  <node unless="$(arg debug)" pkg="task_imitation" type="program_server" name="program_server" required="true" output="screen" />
</launch>
